<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notes</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">NotesApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home </a>
                    <a class="nav-item nav-link" href="/create">create<span class="sr-only">(current)</span></a>
                </div>
            </div>
        </nav>

        <div class="col-8 mt-3">
            <form action="/edit" method="post">
                <input type="hidden" name="id" value="{{.ID}}">
                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label">Title:</label>
                    <input type="text" name="title" class="form-control" id="exampleFormControlInput1" value="{{.Title}}" placeholder="Title">
                </div>
                <div class="mb-4">
                    <label for="exampleFormControlInput2" class="form-label">Description:</label>
                    <input type="text" name="description" class="form-control" id="exampleFormControlInput2" value="{{.Description}}" placeholder="Description">
                </div>
                <button type="submit" class="btn btn-outline-success">Edit</button>
            </form>
        </div>
    </div>

    {{.note}}

    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>