<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notes</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">NotesApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home</a>
                    <a class="nav-item nav-link" href="/create">create</a>
                    {{ if .has_not_session_token }}
                    <a class="nav-item nav-link" href="/signin">sign in</a>
                    <a class="nav-item nav-link" href="/signup">sign up</a>
                    {{ end }}
                    {{ if .has_session_token }}
                    <a class="nav-item nav-link" href="#">{{ .Username }}</a>
                    <a class="nav-item nav-link" href="/logout">logout</a>
                    {{ end }}
                </div>
            </div>
        </nav>


        <div class="row mt-5">
            {{range .notesVar}}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{.Title}}</h5>
                        <p class="card-text">{{.Description}}</p>
                        <div class="row">
                            <form action="/" method="post">
                                <input type="hidden" name="id" value="{{.ID}}">
                                <button type="submit" class="btn btn-danger">Delete It💔</button>
                            </form>
                            <div class="mr-2"></div>
                            <form action="/edit" method="get">
                                <input type="hidden" name="id" value="{{.ID}}">
                                <input type="hidden" name="title" value="{{.Title}}">
                                <input type="hidden" name="description" value="{{.Description}}">
                                <button type="submit" class="btn btn-success">edit It🤞😉</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>

    </div>


    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>